@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5px 15em;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}

