@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 5px 12em;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-weight: lighter;
}

.header-link {
    color:#E5E7EB
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5em 12em;
    gap: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-text-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text-sub {
    font-weight: lighter;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 30px;
    align-self: flex-start;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.hero-img {
    width: 500px;
    height: auto;
}

.testimonies {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 7em 20em;
}

.testimonies-quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.testimonies-author {
    font-weight:bold;
    align-self: end;
    font-size: 24px;
}